<!DOCTYPE html>
<html lang ="en">
<head>
    
    <meta charset="UFT-8">
    <title>Input Text Animation</title>
    
    <link rel='stylesheet' type = 'text/css' href = '../static/styles/styles_bookmarks.css'>
</head>
<body>
    <div class = 'body_container'>
        <div id = 'left'>
            <div id = 'body_control'>
                <div id = 'body_control_top'>
                    <div id = 'text_VisualAI'>
                    <a href = '/'>
                     <article id = 'text_VisualAI'>
                        <h4 id = 'text_VisualAI'> VisualAI</h4>
                    </article>
                    </a>
                    </div>
                    
                    <div id = 'home_button' >
                        <a href="/main_page">
                            <button id = 'home_button'><ion-icon name="home-outline"></ion-icon></button>
                        </a>
                        
                        <h5 id = 'Text_Home'>Home</h5>
                            
                    </div >
                    <div id = 'fullfile' >
                        <a href='/images'>
                            <button id = 'fullfile_button'><ion-icon name="images-outline"></ion-icon></button>
                        </a>
                        <h5 id = 'Text_fullfile'>Images</h5>
                    </div >

                    <div id = 'bookmarks' >
                        <a href='/bookmarks'>
                            <button id = 'bookmarks_button'><ion-icon name="bookmark-outline"></ion-icon></button>
                        </a>
                        <h5 id = 'Text_bookmarks'>Bookmarks</h5>
                    </div >

                </div>
                <div id = 'body_control_bottom'>
                    <div id = 'Help&FAQ' >
                        <a href='/Help&FAQ'>
                            <button id = 'Help&FAQ_button'><ion-icon name="help-outline"></ion-icon></button>
                        </a>
                        <h5 id = 'Text_Help&FAQ'>Help&FAQ</h5>
                    </div >
                </div>
            </div>
        </div>
        <div id = 'right'>
            <div class = 'search_images'>
                <div class="inputBox">
                    
                        <input id ='input_field' type="text" name = "text" required="required">
                        <span>探したい画像の文書を入力してください</span>
                        <button type='button1'><ion-icon name="search-outline" ></ion-icon></button>
                        
                    
                </div>
                </div>
                <div class = 'grid-container' id = 'grid-containerid'>
                    {% for image in images %}
                    {% for row in array %}
                    {% if row[0] == image %}
                                
                    <div class = 'imgbody'>
                      <div class = 'inner_img'>
                        <img class = 'img1' src='../Bookmarks/{{ image }}'>
                        <div class = 'prompt'>
                            <h5 id= 'h5'>Prompt</h5>
                            <a id = 'a'>{{ row[1] }}</a>
                        </div>
                      </div>
                    </div>
                    {% endif %}
                    {% endfor %}
                  
                    
                    
                    {% endfor %}
                </div>
                <img id = 'BG_img' src="../static/BackGround.png">
            </div>
        </div>
        <script>
            const inputField = document.getElementById('input_field');
            inputField.addEventListener('input', () => {
            const parentDiv = document.getElementById('grid-containerid');
            const divElements = parentDiv.querySelectorAll('div.imgbody');
            divElements.forEach((div) => {
            if (div.querySelector('a').textContent.includes(inputField.value)) {
            div.style.display = 'block';
            } else {
            div.style.display = 'none';
            }
            });
            });
    
          </script>
<script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
<script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
</body>