<!DOCTYPE html>
<html lang ="en">
<head>
    
    <meta charset="UFT-8">
    <title>Input Text Animation</title>
    
    <link rel='stylesheet' type = 'text/css' href = '../static/styles/styles_globe.css'>
</head>
<body>
    <div class = 'body_container'>
        <div id = 'left'>
            <div id = 'body_control'>
                <div id = 'body_control_top'>
                    <div id = 'text_VisualAI'>
                    <a href = '/'>
                     <article id = 'text_VisualAI'>
                        <h4 id = 'text_VisualAI'> VisualAI</h4>
                    </article>
                    </a>
                    </div>
                    
                    <div id = 'home_button' >
                        <a href="/main_page">
                            <button id = 'home_button'><ion-icon name="home-outline"></ion-icon></button>
                        </a>
                        
                        <h5 id = 'Text_Home'>Home</h5>
                            
                    </div >
                    <div id = 'globe' >
                        <a href='/globe'>
                            <button id = 'globe_button'><ion-icon name="globe-outline"></ion-icon></button>
                        </a>
                        <h5 id = 'Text_globe'>Globe</h5>
                    </div >
                    <div id = 'ranking' >
                        <a href='/ranking'>
                            <button id = 'ranking_button'><ion-icon name="trophy-outline"></ion-icon></button>
                        </a>
                        <h5 id = 'Text_ranking'>Ranking</h5>
                    </div >
                    <div id = 'bookmarks' >
                        <a href='/bookmarks'>
                            <button id = 'bookmarks_button'><ion-icon name="bookmark-outline"></ion-icon></button>
                        </a>
                        <h5 id = 'Text_bookmarks'>Bookmarks</h5>
                    </div >

                </div>
                <div id = 'body_control_bottom'>
                    <div id = 'Help&FAQ' >
                        <a href='/Help&FAQ'>
                            <button id = 'Help&FAQ_button'><ion-icon name="help-outline"></ion-icon></button>
                        </a>
                        <h5 id = 'Text_Help&FAQ'>Help&FAQ</h5>
                    </div >
                </div>
            </div>
        </div>
        <div id = 'right'>
            
            <img id = 'BG_img' src="../static/BackGround.png">
        </div>
    </div>
<script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
<script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
</body>