
body{
    background-color: #23414a;
    
    /* overflow-x: hidden;
    overflow-y: hidden; */
    height: auto;
    
    margin: 0px;

}
.body_container {
    display: flex;
    width: 100%;

}
.body_container div[id = 'left']{
    flex: 0 0 20%;
    width: 100%;
    height:100%;
    background-color: #23414a;
    
}
.body_container div[ id = 'body_control']{
    position: fixed;
    z-index: 10;
    width: 250px;
    height: 100%;
    
    background-color: #23414a;
    margin: 0px;
}
.body_container div [ id = 'body_control_top']{
    position:fixed;
    min-width: 250px;
    height: 500px;
    top:0%;
    background-color: #23414a;
    
}

.body_container div[ id = 'text_VisualAI']{
    
    height: 550px;
    position: absolute;
    top: 50%;
    left: 20%;
    transform: translate(-50%,-50%);
    
}
.body_container article[ id = 'text_VisualAI' ]{
    position: absolute;
    background: linear-gradient(
        to right, 
        #18f37e, 
        #FCEE21
        );
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        text-align: center;
        
    }

.body_container h4[ id = 'text_VisualAI']{
    
    font-size: 5vmin;
    line-height: 0.9;
    
}
.body_container div[ id = 'home_button']{
    position: absolute;
    top: 20%;
    left: 5%;
    width: 60px;
    height: 60px;
    display: flex;

}

.body_container p {
    position: absolute;
    margin: 10px;
    left: 80px;
    font-size: 4vmin;
    color:#fce8bc;
    
    
}
.body_container h5[id = 'Text_Home']{
    position: absolute;
    padding: 10px;
    margin: 10px;
    left: 50px;
    font-size: 3vmin;
    color:#fce8bc;
    
}


.body_container button[ id = 'home_button']{
    
    width: 60px;
    height: 60px;
    border-radius: 50px;
    border: 2px solid #ffffff00;
    background-color: #5af4db;
    box-shadow:  12px 6px 24px 4px #0b1d29;
    

}

.body_container button[ id = 'home_button']:hover{
    
    width: 60px;
    height: 60px;
    border-radius: 10px;
    border: 2px solid #ffffff00;
    background: linear-gradient(
        to left, 
        #18f37e, 
        #FCEE21
        );
    box-shadow:  12px 6px 24px 4px #29290b;
    transition:all 0.25s ease ;

}
ion-icon[name='home-outline']
{	position: absolute;
    left: 15px;
    top: 15px;
    color: rgb(0, 0, 0);
	font-size: 2.3em;
	cursor: pointer;
	
}
.body_container h5[id = 'Text_fullfile']{
    position: absolute;
    padding: 10px;
    margin: 10px;
    left: 50px;
    font-size: 3vmin;
    color:#fce8bc;
}

.body_container div[ id = 'fullfile']{
    position: absolute;
    top: 35%;
    left: 5%;
    display: flex;
}
.body_container button[ id = 'fullfile_button']{
    
    width: 60px;
    height: 60px;
    border-radius: 50px;
    border: 2px solid #ffffff00;
    background-color: #5af4db;
    box-shadow:  12px 6px 24px 4px #0b1d29;
    
}
.body_container button[ id = 'fullfile_button']:hover{
    
    width: 60px;
    height: 60px;
    border-radius: 10px;
    border: 2px solid #ffffff00;
    background: linear-gradient(
        to left, 
        #18f37e, 
        #FCEE21
        );
    box-shadow:  12px 6px 24px 4px #0b1d29;
    transition:all 0.25s ease ;

}
ion-icon[name='images-outline']
{	
    color: rgb(0, 0, 0);
	font-size: 2.3em;
	cursor: pointer;
	
}
/* .body_container h5[id = 'Text_ranking']{
    position: absolute;
    padding: 10px;
    margin: 10px;
    left: 50px;
    font-size: 3vmin;
    color:#fce8bc;
}

.body_container div[ id = 'ranking']{
    position: absolute;
    top: 50%;
    left: 5%;
    display: flex;
}
.body_container button[ id = 'ranking_button']{
    
    width: 60px;
    height: 60px;
    border-radius: 50px;
    border: 2px solid #ffffff00;
    background-color: #5af4db;
   
    
}
.body_container button[ id = 'ranking_button']:hover{
    
    width: 60px;
    height: 60px;
    border-radius: 10px;
    border: 2px solid #ffffff00;
    background: linear-gradient(
        to left, 
        #18f37e, 
        #FCEE21
        );
    box-shadow:  12px 6px 24px 4px #0b1d29;
    transition:all 0.25s ease ;

}
ion-icon[name='trophy-outline']
{	
    color: rgb(0, 0, 0);
	font-size: 2.3em;
	cursor: pointer;
	
} */
.body_container h5[id = 'Text_bookmarks']{
    position: absolute;
    padding: 10px;
    margin: 10px;
    left: 50px;
    font-size: 3vmin;
    color:#fce8bc;
}

.body_container div[ id = 'bookmarks']{
    position: absolute;
    top: 50%;
    left: 5%;
    display: flex;
}
/* .body_container button[ id = 'bookmarks_button']{
    
    width: 60px;
    height: 60px;
    border-radius: 50px;
    border: 2px solid #ffffff00;
    background-color: #5af4db;
    
    
} */
.body_container button[ id = 'bookmarks_button']{
    
    width: 60px;
    height: 60px;
    border-radius: 10px;
    border: 2px solid #ffffff00;
    background: linear-gradient(
        to left, 
        #18f37e, 
        #FCEE21
        );
    box-shadow:  12px 6px 24px 4px #0b1d29;
    transition:all 0.25s ease ;

}
ion-icon[name='bookmark-outline']
{	
    color: rgb(0, 0, 0);
	font-size: 2.3em;
	cursor: pointer;
	
}


.body_container div [ id = 'body_control_bottom']{
    position:fixed;
    bottom: 0%;
    min-width: 250px;
    height: 300px;
    background-color: #23414a;
}
.body_container h5[id = 'Text_Help&FAQ']{
    position: absolute;
    padding: 10px;
    margin: 10px;
    left: 50px;
    font-size: 3vmin;
    color:#fce8bc;
}

.body_container div[ id = 'Help&FAQ']{
    position: absolute;
    bottom: 5%;
    left: 5%;
    display: flex;
}
.body_container button[ id = 'Help&FAQ_button']{
    
    width: 60px;
    height: 60px;
    border-radius: 50px;
    border: 2px solid #ffffff00;
    background-color: #5af4db;
    box-shadow:  12px 6px 24px 4px #0b1d29;
    
}
.body_container button[ id = 'Help&FAQ_button']:hover{
    
    width: 60px;
    height: 60px;
    border-radius: 10px;
    border: 2px solid #ffffff00;
    background: linear-gradient(
        to left, 
        #18f37e, 
        #FCEE21
        );
    box-shadow:  12px 6px 24px 4px #0b1d29;
    transition:all 0.25s ease ;

}
ion-icon[name='help-outline']
{	
    color: rgb(0, 0, 0);
	font-size: 2.3em;
	cursor: pointer;
	
}
/* right_page */
.body_container div[ id = 'right']{
    
    flex: 0 0 80%;
    overflow-y: hidden;
    overflow-x: hidden;
    background-image: url('../backGround_CD.png');
    position: relative;
    z-index: 1;
    /* background-image: url('../Bong_neurol_BG.png'); */
    background-size:contain ;
    /* background-color: #23414a; */
    /* background: linear-gradient(
        to right, 
        #614385 , 
        #516395
        ); */
        
    width: 100%;
    height: auto;
    margin: 0px;

}

/* .image_container {
    display: grid;
}
.image_container img{
    width: 200px;
    height: 300px;
    margin: 5px;
} */
.grid-container {
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
	grid-gap: 20px;
	margin: 3%;
	/* column-count: 4;
	margin: 3%;
	margin-right: 2%;
	 */
    position: relative;
    z-index: 0;
    top: 80px;
	
	
  }

  /* Style cho các hình ảnh */
  .imgbody {
	width: 300px;
	height: 400px;
    min-width: 150px;
    min-height: 200px;
  }


  .inner_img 
  {	width: 300px;
	height: 400px;
    min-width: 150px;
    min-height: 200px;
	margin: 10px;
	position:relative;
	z-index: 0;
	left: 50%;
	transform: translate(-50%,0%);
  }
  .img1 {
	width: 300px;
	height: 400px;
    min-width: 150px;
    min-height: 200px;
	border-radius: 8px;
	box-shadow: 0px 0px 7px 3px #000000;
	
  }
  .prompt {
	
	width: 280px;
	height: 150px;
    min-width: 130px;
    min-height: 180px;
	
	padding: 10px;
	background-color: #3e3e3e00;
	position:absolute;
	z-index: 1;
	border-radius: 8px;
	
	top: 40%;
  }
  .prompt h5[id='h5']
  {	
	color: rgba(255, 0, 0, 0);
    margin: 2px;
  }
  .prompt a[id='a']
  {
	color: rgba(255, 255, 255, 0);
  }
  
  .prompt:hover {
	
	width: 280px;
	height: auto;
    min-width: 130px;
    min-height: auto;
	padding: 10px;
	background-color: #3737375e;
	position:absolute;
	z-index: 1;
	border-radius: 8px;
	
	top: 40%;
	transition:all 0.5s ease ;
  }
  .prompt:hover h5[id='h5']
  {
	color: rgb(225, 255, 0);
	transition:all 0.5s ease ;
    font-size: 18px;
    margin: 4px;
  
  }
  .prompt:hover a[id='a']
  {
	color: rgb(255, 255, 255);
	transition:all 1s ease ;
  }
  .search_images {
    position: fixed;
    z-index: 3;
    width: 80%;
    background-color: #23414a;
    height: 80px;
}
.inputBox
{
    position: relative;
    width: 60%;
    height: 50px;
    top:50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
}

.inputBox input[type="text"]
{
    width: 100%;
    height: auto;
    right: 0%;
    top: 70%;
    padding: 10px;
	
    border: 1px solid rgba(255,255,255,0.25);
    background: #ffb00600;
	/* box-shadow:  12px 6px 24px 4px #29290bbd; */
    /* box-shadow: 0px 0px 7px 3px #efc737; */
    border-radius: 10px;
    outline: none;
    color: #fff;
    font-size: 1.5em;
    transition: 0.25s;
}

.inputBox button[type="button1"]
{
    background:#ffffff00;
	border: none;
	
}
ion-icon[name='search-outline']
{	position: absolute ;
    color: #fff;
	font-size: 2.3em;
	cursor: pointer;
	left: 104%;
	bottom: 10px;
	
}
ion-icon[name='search-outline']:hover
{	position: absolute ;
    color: rgb(255, 237, 135);
	font-size: 2.3em;
	cursor: pointer;
	left: 104%;
	bottom: 10px;
	
}
.inputBox button[type="button2"]
{
    background:#052a0900;
	border: none;
	
}
/* ion-icon[name='dice-outline']
{	position: absolute ;
    color: rgb(255, 255, 255);
	font-size: 2.3em;
	cursor: pointer;
	left: 108%;
	bottom: 13px;
	
}
ion-icon[name='dice-outline']:hover
{	position: absolute ;
    color: rgb(255, 237, 135);
	font-size: 2.3em;
	cursor: pointer;
	left: 108%;
	bottom: 13px;
	
} */
.inputBox span
{
    position: absolute;
    left:2%;
    top:0%;
    padding: 10px;
    pointer-events: none;
    font-size: 1.5em;
    color: rgba(255,255,255,0.25);
    text-transform: uppercase;
    transition: 0.25s;
}

.inputBox input:valid ~ span,
.inputBox input:focus ~ span
{
    color: #ffffff;
    transform: translateX(10px) translateY(-18px);
    font-size: 0.85em;
    padding: 0 10px;
    background-color: #052a0900;
    border-left: 1px solid #ffffff;
    border-right: 1px solid #ffffff;
}

.inputBox input:valid,
.inputBox input:focus
{
    border: 3px solid #f9f5cc;
} 
