
body{
    background-color: #23414a;
    
    overflow-x: hidden;
    overflow-y: hidden;
    height: 1685px;
    
    margin: 0px;

}
.body_container {
    display: flex;
    width: 100%;

}
.body_container div[id = 'left']{
    flex: 0 0 20%;
    width: 100%;
    height:100%;
    background-color: #23414a;
    
}
.body_container div[ id = 'body_control']{
    position: fixed;
    z-index: 10;
    width: 250px;
    height: 100%;
    
    background-color: #23414a;
    margin: 0px;
}
.body_container div [ id = 'body_control_top']{
    position:fixed;
    min-width: 250px;
    height: 500px;
    top:0%;
    background-color: #23414a;
    
}

.body_container div[ id = 'text_VisualAI']{
    
    height: 550px;
    position: absolute;
    top: 50%;
    left: 20%;
    transform: translate(-50%,-50%);
    
}
.body_container article[ id = 'text_VisualAI' ]{
    position: absolute;
    background: linear-gradient(
        to right, 
        #18f37e, 
        #FCEE21
        );
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        text-align: center;
        
    }

.body_container h4[ id = 'text_VisualAI']{
    
    font-size: 5vmin;
    line-height: 0.9;
    
}
.body_container div[ id = 'home_button']{
    position: absolute;
    top: 20%;
    left: 5%;
    width: 60px;
    height: 60px;
    display: flex;

}

.body_container p {
    position: absolute;
    margin: 10px;
    left: 80px;
    font-size: 4vmin;
    color:#fce8bc;
    
    
}
.body_container h5[id = 'Text_Home']{
    position: absolute;
    padding: 10px;
    margin: 10px;
    left: 50px;
    font-size: 3vmin;
    color:#fce8bc;
    
}


.body_container button[ id = 'home_button']{
    
    width: 60px;
    height: 60px;
    border-radius: 50px;
    border: 2px solid #ffffff00;
    background-color: #5af4db;
    box-shadow:  12px 6px 24px 4px #0b1d29;
    

}

.body_container button[ id = 'home_button']:hover{
    
    width: 60px;
    height: 60px;
    border-radius: 10px;
    border: 2px solid #ffffff00;
    background: linear-gradient(
        to left, 
        #18f37e, 
        #FCEE21
        );
    box-shadow:  12px 6px 24px 4px #29290b;
    transition:all 0.25s ease ;

}
ion-icon[name='home-outline']
{	position: absolute;
    left: 15px;
    top: 15px;
    color: rgb(0, 0, 0);
	font-size: 2.3em;
	cursor: pointer;
	
}
.body_container h5[id = 'Text_globe']{
    position: absolute;
    padding: 10px;
    margin: 10px;
    left: 50px;
    font-size: 3vmin;
    color:#fce8bc;
}

.body_container div[ id = 'globe']{
    position: absolute;
    top: 35%;
    left: 5%;
    display: flex;
}
/* .body_container button[ id = 'globe_button']{
    
    width: 60px;
    height: 60px;
    border-radius: 50px;
    border: 2px solid #ffffff00;
    background-color: #5af4db;
   
    
} */
.body_container button[ id = 'globe_button']{
    
    width: 60px;
    height: 60px;
    border-radius: 10px;
    border: 2px solid #ffffff00;
    background: linear-gradient(
        to left, 
        #18f37e, 
        #FCEE21
        );
    box-shadow:  12px 6px 24px 4px #0b1d29;
    transition:all 0.25s ease ;

}
ion-icon[name='globe-outline']
{	
    color: rgb(0, 0, 0);
	font-size: 2.3em;
	cursor: pointer;
	
}
.body_container h5[id = 'Text_ranking']{
    position: absolute;
    padding: 10px;
    margin: 10px;
    left: 50px;
    font-size: 3vmin;
    color:#fce8bc;
}

.body_container div[ id = 'ranking']{
    position: absolute;
    top: 50%;
    left: 5%;
    display: flex;
}
.body_container button[ id = 'ranking_button']{
    
    width: 60px;
    height: 60px;
    border-radius: 50px;
    border: 2px solid #ffffff00;
    background-color: #5af4db;
    /* box-shadow:  12px 6px 24px 4px #0b1d29; */
    
}
.body_container button[ id = 'ranking_button']:hover{
    
    width: 60px;
    height: 60px;
    border-radius: 10px;
    border: 2px solid #ffffff00;
    background: linear-gradient(
        to left, 
        #18f37e, 
        #FCEE21
        );
    box-shadow:  12px 6px 24px 4px #0b1d29;
    transition:all 0.25s ease ;

}
ion-icon[name='trophy-outline']
{	
    color: rgb(0, 0, 0);
	font-size: 2.3em;
	cursor: pointer;
	
}
.body_container h5[id = 'Text_bookmarks']{
    position: absolute;
    padding: 10px;
    margin: 10px;
    left: 50px;
    font-size: 3vmin;
    color:#fce8bc;
}

.body_container div[ id = 'bookmarks']{
    position: absolute;
    top: 65%;
    left: 5%;
    display: flex;
}
.body_container button[ id = 'bookmarks_button']{
    
    width: 60px;
    height: 60px;
    border-radius: 50px;
    border: 2px solid #ffffff00;
    background-color: #5af4db;
    /* box-shadow:  12px 6px 24px 4px #0b1d29; */
    
}
.body_container button[ id = 'bookmarks_button']:hover{
    
    width: 60px;
    height: 60px;
    border-radius: 10px;
    border: 2px solid #ffffff00;
    background: linear-gradient(
        to left, 
        #18f37e, 
        #FCEE21
        );
    box-shadow:  12px 6px 24px 4px #0b1d29;
    transition:all 0.25s ease ;

}
ion-icon[name='bookmark-outline']
{	
    color: rgb(0, 0, 0);
	font-size: 2.3em;
	cursor: pointer;
	
}


.body_container div [ id = 'body_control_bottom']{
    position:fixed;
    bottom: 0%;
    min-width: 250px;
    height: 300px;
    background-color: #23414a;
}
.body_container h5[id = 'Text_Help&FAQ']{
    position: absolute;
    padding: 10px;
    margin: 10px;
    left: 50px;
    font-size: 3vmin;
    color:#fce8bc;
}

.body_container div[ id = 'Help&FAQ']{
    position: absolute;
    bottom: 5%;
    left: 5%;
    display: flex;
}
.body_container button[ id = 'Help&FAQ_button']{
    
    width: 60px;
    height: 60px;
    border-radius: 50px;
    border: 2px solid #ffffff00;
    background-color: #5af4db;
    /* box-shadow:  12px 6px 24px 4px #0b1d29; */
    
}
.body_container button[ id = 'Help&FAQ_button']:hover{
    
    width: 60px;
    height: 60px;
    border-radius: 10px;
    border: 2px solid #ffffff00;
    background: linear-gradient(
        to left, 
        #18f37e, 
        #FCEE21
        );
    box-shadow:  12px 6px 24px 4px #0b1d29;
    transition:all 0.25s ease ;

}
ion-icon[name='help-outline']
{	
    color: rgb(0, 0, 0);
	font-size: 2.3em;
	cursor: pointer;
	
}
/* right_page */
.body_container div[ id = 'right']{
    
    flex: 0 0 80%;
    overflow-y: hidden;
    overflow-x: hidden;
    background-image: url('../backGround_CD.png');
    position: relative;
    z-index: 1;
    /* background-image: url('../Bong_neurol_BG.png'); */
    background-size:contain ;
    /* background-color: #23414a; */
    /* background: linear-gradient(
        to right, 
        #614385 , 
        #516395
        ); */
        
    width: 100%;
    height: 1685px;
    margin: 0px;

}